<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="scraperManager" class="ScraperManager">
        <property name="scraperList" ref="scrapers" />
    </bean>

    <util:list id="scrapers" value-type="WebScraper">
        <ref bean="wiggleScraper"/>
        <ref bean="tredzScraper"/>
        <ref bean="evansScraper"/>
        <ref bean="cycleSolutionsScraper"/>
        <ref bean="chainReactionScraper"/>
    </util:list>

    <bean id="wiggleScraper" class="WiggleScraper">
        <constructor-arg value="2000"/>
    </bean>

    <bean id="tredzScraper" class="TredzScraper">
        <constructor-arg value="2000"/>
    </bean>

    <bean id="evansScraper" class="EvansScraper">
        <constructor-arg value="2000"/>
    </bean>

    <bean id="cycleSolutionsScraper" class="CycleSolutionsScraper">
        <constructor-arg value="2000"/>
    </bean>

    <bean id="chainReactionScraper" class="ChainReactionScraper">
        <constructor-arg value="2000"/>
    </bean>

    <bean id="bikesDao" class="BikesDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>dbMapping.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.current_session_context_class=thread
                hibernate.connection.pool_size=5
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.show_sql=true
            </value>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/price_comparison"/>
        <property name="username" value="ct"/>
        <property name="password" value="456871"/>
    </bean>

</beans>
